/* Add here all your css styles (customizations) */
@font-face {
    font-family: 'TH SarabunPSK';
    src: url('fonts/THSarabun.ttf');
}
@font-face {
    font-family: 'DB Ozone X';
    src: url('fonts/DB Ozone X v3.2.ttf');
}
body{
    font-size: 20px !important;
}
body, a, h1, h2{
    font-family: "DB Ozone X" !important;

}

.footer-v3 .footer {
    padding: 30px 0;
    background: #63666a;
    border-top: 5px solid #555;
}

.footer-v3 .footer p{
    font-size: 18px !important;
}
.footer .list-unstyled li{
    line-height: 20px;
}

.footer a{
    font-size: 18px !important;
}

.footer h2{
    font-size: 22px !important;
}
.header .navbar-nav > li > a{
    font-family: "DB Ozone X" !important;
    font-size: 20px !important;
}

.header > .container {

    /*margin-bottom: -25px !important;*/
}

.header .topbar a{
    font-family: "DB Ozone X" !important;
    font-size: 15px !important;
}



.dropdown-menu {
    font-size: 18px !important;
}


.header .dropdown-hide-sub > a:after{
    content:"";
}

.call-action-v1 p{
    font-size: 30px !important;
    color:#fe5000;
}
.purchase{
    /*background-color: #bbbcbc;*/
    /*background-image: none;*/
}
.purchase p{
    color:#63666a;
    font-size: 35px;
}
.purchase span{
    color: #fe5000;
     /*color:#fe5000;*/
    margin-bottom: 0;
    font-size: 40px;
 }

.btn-u{
    background-color:#fe5000;
}

.content-sm{
    padding-top: 25px !important;
}

.headline h2, .headline h3, .headline h4{
    font-size: 50px !important;
}
 .breadcrumbs-v1 h1{
    color: #fe5000;
     line-height: 20px;
}
.custom-content{

    margin-bottom: 40px;
    margin-top: 40px;
}
.custom-content table tr td,.custom-content table tr th{
    font-size: 20px;
}

.custom-content .date_topic{
    font-size: 20px;
}

.btn{
    font-size: 20px;
}
.heading-v1 h2:before, .heading-v1 h2:after{
    border-color: #fe5000;
}
.margin-bottom-40{
    padding-bottom: 40px;
    border-bottom: 1px dotted #e4e9f0;

}
.margin-bottom-40 h2{
    font-size: 40px;
}

@media (min-width: 992px){

    .header .navbar-nav > li > a {

        padding: 9px 29px 9px 15px !important;
    }

    .header .dropdown-menu li a {

        font-size: 18px !important;

    }
}

@media (max-width: 991px){
    .header .dropdown .dropdown-submenu > a {
        font-size: 18px !important;

    }
}

.sorting-block .sorting-grid li .sorting-cover span {
    font-size: 25px !important;
    line-height: 30px;
    text-align: center;
}



/*profile*/
.service-in ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}


